# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax

/**               @gkulin @hemarina @rajeshkamal5050 @savannahostrowski