/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding:2rem;
  display: inline-block;
  overflow: hidden;
  position: relative;
  width:100%;
  background-color: white;
}

.cover {
  pointer-events: none;
  position: absolute;
  /* height: 100%;
  width: 100%; */

}

.video{
  width: 38rem;
  padding:2rem;
}

.description{
  position: relative;
}

[data-theme="dark"] .heroBanner {
  padding:2rem;
  display: inline-block;
  position: relative;
  overflow: hidden;
  background-color: black;
}

@media screen and (max-width: 996px) {
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
