/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 2rem;
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: 100%;
  min-width: 309px;
}

.cover {
  pointer-events: none;
  position: absolute;
  height: calc(100% - 4rem);
  width: calc(100% - 4rem);
  border-radius: 20px;
}

.video {
  width: 38rem;
  height: 21rem;
}

.section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  gap: 2rem;
}

.description {
  max-width: 34rem;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column;
  color:black;
}

[data-theme="dark"] .heroBanner {
  background-color: #292929;
}

@media screen and (max-width: 996px) {
  .section {
    flex-direction: column;
  }
  .video {
    width: 100%;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
