.features {
  padding: 2rem;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  gap: 24px;
}

.cardContent {
  display: flex;
  row-gap: 10px;
  flex-flow: column;
}

@media screen and (max-width: 996px) {
  .row {
    flex-flow: column;
  }
}
