.features {
  padding: 2rem;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
  gap: 24px;
}

.cardContent {
  display: flex;
  row-gap: 10px;
  flex-flow: column;
}

@media screen and (max-width: 996px) {
  .row {
    flex-flow: column;
  }
}
